// slide left right
.page-left {
  &-enter {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
  }
  &-leave-active {
    opacity: 0.5;
    transform: translate3d(-100%, 0, 0);
  }
  &-enter-active,
  &-leave-active {
    will-change: transform;
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  }
}
.page-right {
  &-enter {
    opacity: 0.5;
    transform: translate3d(-100%, 0, 0);
  }
  &-leave-active {
    opacity: 0.5;
    transform: translate3d(100%, 0, 0);
  }
  &-enter-active,
  &-leave-active {
    will-change: transform;
    transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  }
}
