.slide-down {
  animation: 0.5s slide-down;
  &-enter,
  &-leave-to {
    transform: translateY(-50%);
    opacity: 0;
  }
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
